<h5>Lista de compras<h5>
<table class='table table-bordered'>
	<tr>
		<td>Produto</td>
		<td>Quantidade Comprada</td>
		<td>Quantidade em Estoque</td>
	</tr>
	<% @stocks.each do |s| %>
		<% if s.amount.to_i < s.product.minimum_stock.to_i %>
			<tr>
				<td>
					<%= s.product %>
				</td>
				<td>
				</td>
				<td>
					<%= s.amount.to_i %>
				</td>
			</tr>
		<% end %>
	<% end %>
</table>	