<h5>Lista de compras<h5>
<table class='table table-bordered'>
	<tr>
		<td>Produto</td>
		<td>Quantidade Comprada</td>
		<td>Quantidade em Estoque</td>
	</tr>
	<% @products.each do |s| %>
		<% if s.stock <= s.minimum_stock %>
			<tr>
				<td>
					<%= s %>
				</td>
				<td>
				</td>
				<td>
					<%= s.stock.to_i %>
				</td>
			</tr>
		<% end %>
	<% end %>
</table>	
