<div class="nested-fields">
	<div class="row-fluid">
		<table class="table borded">
			<tr>
				<td>
					<%= f.input :number, label:'Número', input_html: { class: 'span2'}%>				 
				</td>				
				<td>
					<%= f.input :description, label:'Descrição', input_html: { class: 'span6', cols:'50', rows: '10' }%>				 
				</td>
				<td>
					   <%= link_to_remove_association "Apagar", f, :class => "" %>
				</td>
			</tr>
		</table>
	</div>
</div>
