<center>
	<%= image_tag '/images/logo.png', :width => 300 %>
	<h3><%= @study.name %></h3>	
	
	<h4><%= @study.description%></h4>
	
</center>
<%= link_to "Começar", study_pages_path(study_id: @study.id)%>