
<div class="alert alert-success"><h4>Quantidade de pacientes: <%= @patients.count %></h4></div>

<div class="alert alert-success">
	Quantidade de pacientes por cidade	
<% @patients.group_by(&:city).each do |city, patients| %>
		<div class="alert alert-success">
			<%= city %>: <%= patients.count %>	
		</div>
<% end %>
</div>
	