<table witdth='100%'>
  <tr>
    <td witdth='10%'>
      <%= image_tag '/images/logo.jpeg', :width => 130 %>
    </td>
    <td witdth='20%'>
			&nbsp&nbsp&nbsp
		</td>
    <td>
        <h5>Associação Centro Espirita Pai Benidito de Aruanda</h5>
        Rua Vila lobos, 552 Vila<br/>
        Nova lima - MG<br/>
        (31)3694-1148
    </td>
  </tr>
</table>
<hr>